[Desktop Entry]
Name=Kagerou
Exec=python3 ~/.Kagerou/kagerou-client.py
Comment=Kagerou Launcher
Terminal=false
Icon=~/.Kagerou/icon.jpg
Type=Application